@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    line-height: 1.6;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333333;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 70px;
    /* background: transparent; */
}
ul{
    display: flex;
    list-style: none;
}
.navbar h1{
    color: white;
}
.navbar span{
    color: green;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
}
ul li a:hover{
    border-bottom: 2px solid green;
}
/* lower */
.hero{
    background: url('/image_resources/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
}
.showcase{
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
}
.hero .content h1{
    font-size: 4rem;
    padding: 10px;
    font-weight: 100;
} 
.hero .content p{
    font-size: 1.5rem;
    font-weight: 700;
}
.content a {
    color: white;
    font-weight: 600;
    background-color: #28a745;
    text-decoration: none ;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
}
.content a:hover{
    background-color: #208339;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.hero * {
    z-index: 20;
}
/* about features */
.features, .professional{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 40vh;
}
.features div{
    padding: 30px;
}
i{
    color: white;
    background-color: #28a745;
    padding: 15px;
    border-radius: 50%;
}
.features h3{
    font-weight: bold;
    padding: 10px;
}
/* about solutions */
.flex-container{
    display: flex;
    height: 70vh;
    width: 100%;
}
.flex-container .img-show{
    width: 50%;
}
.flex-container img{
    width: 100%;
    height: 100%;
}
.flex-container .content-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    background-color: #28a745;
    justify-content: center;
    padding: 20px;   
    color: white;
}
.content-1 h1{
    font-size: 40px;
    font-weight: lighter;
}
.content-1 .btn{
    padding: 10px 30px;
    margin-top: 10px;
    width: 25%;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: #28a745;
    border: 2px solid white;
}
/* cases */
#cases .head, .team .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #333333;
    height: 30vh;
}
#cases .head h1, .team .head h1{
    font-size: 40px;
    font-weight: lighter;
}
.column-1, .column-2, .column-3, .column-4{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 10px 0px;
}
.column-1 img, .column-2 img, 
.column-3 img, .column-4 img{
    height: 50%;
    padding: 10px;
}
#blog .flex-container{
    flex-direction: row-reverse;
}
#blog .content-1, #blog .btn{
    background-color: rgb(2, 132,208);
}
.team img{
    border-radius: 50%;
}
.professional{
    height: 60vh;
}
.professional div img{
    width: 90%;
}
/* contact */
#contact .content-1{
    background-color: rgb(244, 244, 244);
}
#contact h1{
    font-size: 50px;
    font-weight: lighter;
    color: #333333;    
}
input, button{
    width: 100%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}
button{
    background-color: #28a745;
    color: white;
}
footer{
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.social i{
    background-color: #333333;
    color: white;
    margin-bottom: 20px;
}
@media(max-width: 768px) {
    .navbar{
        flex-direction: column;
        height: 14vh;
        justify-content: flex-start;
    }
    .navbar h1{
        font-size: 18px;
    }
    .navbar ul{
        margin: 0px 10px;
    }
    .navbar a{
        padding: 0px 10px;
    }
    .flex-container,
    #blog .flex-container,
    .features,
    .professional{
        display: flex;
        flex-direction:column;
        max-width: 768px;
        height: 50%;
    }
    .flex-container .img-show,
    .flex-container .content-1{
        width: 100%;
        align-items: center;
    }
   .img .flex-container{
       display: none;
   }
} 